<h1>Registrations for <%= link_to @event.name, @event %></h1>

<ul class="registrations">
  <% @registrations.each do |r| %>
    <li>
      <%= r.name %> &bull; <%= r.how_heard %>
    </li>
  <% end %>
</ul>