<h1>Registration for <%=  link_to @event.name, @event %></h1>


<%= form_with(model: [@event, @registration]) do |f|%>

  <%= render "shared/errors", object: @registration %>

  <div>
    <%= f.label :name %>
    <%= f.text_field :name, autofocus: true %>
  </div>

  <div>
    <%= f.label :email %>
    <%= f.email_field :email %>
  </div>

  <div>
    <%= f.label :how_heard %>
    <%= f.select :how_heard, Registration::HOW_HEARD_OPTIONS, prompt: "Pick one" %>
  </div>

  <div>
    <%= f.submit %>
  </div>

<% end %>