<%= form_with(model: event) do |f| %>

  <%= render "shared/errors", object: event %>

  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :description %>
    <%= f.text_area :description %></div>
  
  <div>
    <%= f.label :location %>
    <%= f.text_field :location %></div>
  
  <div>
    <%= f.label :price %>
    <%= f.number_field :price %>
  </div>

  <div>
    <%= f.label :starts_at %>
    <%= f.datetime_select :starts_at, {ampm: true}, {class: "datetime"} %>
  </div>

  <div>
    <%= f.label :capacity %>
    <%= f.number_field :capacity %></div>
  
  <div>
    <%= f.label :image_file_name %>
    <%= f.text_field :image_file_name %>
  </div>  

  <div>
    <%= f.submit %>
  </div>

<% end %>