// Colors

$black: #393939;
$off-white: #ededed;
$dark-gray: #666;
$medium-gray: #6c757d;
$light-gray: #c2c2c2;
$blue: #237cbe;
$light-blue: lighten($blue, 40%);
$orange: #e8890c;
$yellow: #ffc107;
$light-yellow: #ffc;
$red: #dc3545;

// Custom Variables

$secondary-text-color: $medium-gray;
$accent-color: $orange;
$secondary-link-color: $light-blue;
$border-color: $light-gray;
$error-color: $red;
$error-background-color: $light-yellow;
$sold-out-color: $yellow;

// Bootstrap Variable Overrides

$body-color: $black;
$body-bg: $off-white;
$primary: $blue;
$secondary: $dark-gray;
$min-contrast-ratio: 4;
$input-bg: white;

// Import Bootstrap Styles

@import "bootstrap";

// Custom CSS

.content {
  @extend .container;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

// Header and Nav

header {
  background-color: $primary;
  padding: 0.5rem;
  margin-bottom: 3rem;

  nav {
    @extend .navbar, .navbar-expand-md !optional;

    a {
      color: $secondary-link-color;
    }

    a.button {
      @extend .btn, .btn-outline-secondary !optional;
    }

    img {
      height: 50px;
      margin-right: 0.5rem;
    }

    ul {
      @extend .nav, .navbar-nav !optional;
      letter-spacing: 1px;

      &.left {
        @extend .me-auto !optional;
      }

      &.right {
        @extend .ms-auto !optional;
      }

      li {
        @extend .nav-item !optional;
        font-size: 1.1rem;
        margin-right: 5px;

        a {
          @extend .nav-link !optional;
          color: $secondary-link-color;
          padding-bottom: 1px;
        }

        a:hover:not(.button),
        a.active {
          color: $off-white;
          text-decoration: none;
          border-bottom: 1px solid $off-white;
        }

        .button,
        button {
          margin-right: 10px;
          color: $off-white;
          border-color: $off-white;
        }

        .button:hover,
        button:hover {
          background: $off-white;
          color: $primary;
          border-color: $primary;
        }

        button {
          @extend .btn, .btn-outline-secondary !optional;
        }
      }
    }
  }

  h1 {
    margin-left: 1rem;
    color: $light-blue;
    font-size: 2.5rem;
  }
}

// Events Index Page

section.event {
  @extend .row;
  margin-bottom: 1.5rem;
  padding-bottom: 1em;
  border-bottom: 1px dotted $border-color;

  &:nth-last-child(1) {
    border-bottom: none;
  }

  .image {
    @extend .col-md-3, .text-center !optional;
    img {
      margin-top: 1rem;
      width: 75px;
    }
  }

  .summary {
    @extend .col-md-9, .text-start !optional;
  }

  h2 {
    font-size: 1.5rem;
    margin-bottom: 0.25rem;
  }

  h3 {
    font-size: 1.1rem;
    color: $secondary-text-color;
    font-weight: 400;
  }

  p {
    margin-top: 1.1rem;
  }

  span.price {
    background: $accent-color;
    letter-spacing: 1px;
    color: $off-white;
    padding: 5px;
    font-size: 0.85rem;
    font-weight: 300;
    transform: rotate(-1deg) skew(-3deg);
    text-transform: uppercase;
    float: right;
    margin-top: -3.5rem;
  }
}

// Event Show Page

section.event-details {
  @extend .row;

  .image {
    @extend .col-md-3, .text-start !optional;

    input[type="submit"] {
      margin-top: 1rem;
    }
  }

  .details {
    @extend .col-md-7, .text-start !optional;
  }

  aside {
    @extend .col-md-2 !optional;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.35rem;
    color: $secondary-text-color;
  }

  h3 {
    margin-top: 1.5rem;
    font-size: 1.25rem;
    color: $secondary-text-color;
    font-weight: 300;
  }

  .likes {
    @extend .input-group !optional;
    margin-top: 1rem;

    .count {
      @extend .input-group-text !optional;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    button[type="submit"] {
      @extend .btn, .btn-outline-secondary;
      border-color: #cdd3d8;
      border-right: none;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      margin-top: 0;
    }
  }

  p {
    margin-top: 1rem;
    font-size: 1.15em;
  }

  img {
    margin-top: 0.5rem;
    height: 75px;
  }

  .register {
    margin-top: 1rem;

    p {
      font-size: 0.9rem;
    }

    a.register {
      @extend .btn, .btn-success !optional;
      letter-spacing: 1px;
      text-transform: uppercase;
    }

    .sold-out {
      background: $sold-out-color;
      font-size: 1.25rem;
      font-weight: 600;
      text-align: center;
      letter-spacing: 1px;
      padding: 10px;
      font-weight: 400;
      text-transform: uppercase;
    }
  }
}

// Users Index Page

ul.users {
  font-size: 1.25em;
  list-style: none;
  padding: 0;

  li {
    margin: 1em 0;
  }
}

// User Show Page

section.user {
  h2 {
    font-size: 1.35rem;
    color: $secondary-text-color;
  }

  h3 {
    margin-top: 3rem;
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }

  .actions {
    margin-top: 1rem;

    .button {
      @extend .btn, .btn-sm !optional;

      &.edit {
        @extend .btn-outline-secondary !optional;
      }

      &.delete {
        @extend .btn-danger !optional;
      }
    }
  }

  .registration {
    @extend .row !optional;
    margin: 1rem 0;
    border-radius: 0.3rem;
    border: 1px solid $border-color;
    padding: 1rem;

    .image {
      @extend .col-md-3, .text-center;

      img {
        height: 60px;
      }
    }

    .name {
      @extend .col-md-5, .text-start !optional;
      font-size: 1.15rem;
      font-weight: 600;
      margin-top: 1rem;
    }

    .date {
      @extend .col-md-4, .text-end !optional;
      font-size: 1rem;
      font-weight: 600;
      margin-top: 1rem;
      color: $secondary-text-color;
    }
  }

  .liked-events {
    display: flex;
    flex-wrap: wrap;
    margin-top: -1rem;

    img {
      margin: 1rem;
      height: 50px;
    }
  }
}

// Registrations Index Page

ul.registrations {
  font-size: 1.25em;
  list-style: none;
  padding: 0;

  li {
    margin: 1em 0;
  }
}

// Footer

footer {
  background: $black;
  color: $light-gray;
  text-align: center;
  margin-top: 3rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

// Admin Section

section.admin {
  text-align: center;
  margin: 3rem 0;
  padding-top: 2rem;
  border-top: 1px dashed $border-color;

  &.no-rule {
    border-top: none;
    padding-top: 0;
  }

  a.button, button {
    @extend .btn, .btn-secondary !optional;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
}

section.event + section.admin {
  border-top: none;
  padding-top: 0;
}

// Aside

aside {
  h4 {
    color: $secondary-text-color;
    font-size: 1rem;
    margin-top: 1rem;
    padding-bottom: 0.3rem;
    text-transform: uppercase;
    border-bottom: 1px solid $border-color;
  }

  ul {
    list-style: none;
    padding-left: 0.25rem;

    li {
      padding-bottom: 0.5rem;
    }
  }
}

// Forms

form.button_to {
  display: inline;
}

form:not([class="button_to"]) {
  max-width: 503px;
  margin-top: 1.5rem;

  label {
    @extend .form-label !optional;
    font-size: 1.1rem;
    font-weight: 600;
    display: block;
  }

  input:not([type="checkbox"]):not([type="file"]):not([type="submit"]),
  textarea,
  select:not(.datetime) {
    @extend .form-control !optional;
    margin-bottom: 0.75rem;
    width: 100%;
    height: 100%;
  }

  select:not(.datetime) {
    @extend .form-select !optional;
  }

  select.datetime {
    @extend .form-select !optional;
    width: auto;
    display: inline-block;
    margin-bottom: 0.75rem;
  }

  input[type="submit"] {
    @extend .btn, .btn-primary !optional;
    display: block;
    width: 100%;
    margin-top: 1.5rem;
  }

  input[type="checkbox"] {
    @extend .form-check-input !optional;
    width: 20px;
    height: 20px;
  }

  input[type="checkbox"] + label {
    @extend .form-check-label !optional;
    padding-left: 0.5rem;
    margin-bottom: 0.5rem;
  }

  input[type="file"] {
    margin-bottom: 0.75rem;
    width: 100%;
  }

  .checkboxes {
    @extend .form-check !optional;
    margin-top: 1.5rem;
  }

  div.field_with_errors {
    display: inline;
    label {
      color: $error-color;
    }
    input,
    textarea,
    select {
      background: $error-background-color !important;
    }
  }
}

// Flashes

.flash {
  @extend .alert;
  text-align: center;
  margin-top: -1rem;
  margin-bottom: 2rem;

  &.notice {
    @extend .alert-success;
  }

  &.alert {
    @extend .alert-danger;
  }
}

// Errors

section.errors {
  margin: 1rem 0;
  padding: 1.5rem;
  border-radius: 0.3rem;
  background: $error-background-color;

  h2 {
    color: $error-color;
    font-size: 1.25rem;
  }

  h3 {
    font-size: 1rem;
    margin-top: 1rem;
    font-weight: 600;
  }
}
